.paragraph {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;
  background-color: rgb(241, 241, 255);
}
.paragraph > p {
  margin-bottom: 0 !important;
}
