#scroll-btn {
  position: fixed;
  right: 5%;
  top: 70%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #335e9e;
}
#scroll-btn:hover {
  background-color: #164386 !important;
}
.fa-angle-double-up {
  color: white !important;
}
