.App {
  margin: 4rem auto;
  text-align: center;
}
.heading {
  font-weight: 700;
  padding: 0 !important;
  margin: 0 !important;
  color: #265a8d !important;
}
.row {
  margin: 1.5rem 0 !important;
}
.paragraph-text {
  font-size: x-large;
  padding: 0 !important;
  margin: 0 !important;
}
.form-range {
  width: 75% !important;
  margin: 1rem auto !important;
  margin-bottom: 0 !important;
}
.btn {
  text-align: center;
  border-color: #174992 !important;
  color: #174992 !important;
}
.btn:hover {
  color: #fff !important;
  background-color: #174992 !important;
}
.paragraph {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;
  background-color: rgb(241, 241, 255);
}
.paragraph > p {
  margin-bottom: 0 !important;
}
.helper-text {
  font-size: smaller;
  color: gray;
  font-weight: 400;
  margin: 0;
}
#scroll-btn {
  position: fixed;
  right: 5%;
  top: 70%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #335e9e;
}
#scroll-btn:hover {
  background-color: #164386 !important;
}
.fa-angle-double-up {
  color: white !important;
}
