.App {
  margin: 4rem auto;
  text-align: center;
}
.heading {
  font-weight: 700;
  padding: 0 !important;
  margin: 0 !important;
  color: #265a8d !important;
}
.row {
  margin: 1.5rem 0 !important;
}
